<div class="container">
    <form name="question" action="/admin/question/form/{{ form.id }}/save" method="post">
        {% if question.id is defined %}<input type="hidden" name="id" value="{{ question.id }}" />{% endif %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center"><h2>Добавить вопрос<h2></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><textarea name="text" placeholder="Введите вопрос" required="required">{% if question.text is defined %}{{ question.text }}{% endif %}</textarea></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <select name="type" required="required">
                    <option value="radio"{% if question.type is defined %}{% if question.type == 'radio' %} selected{% endif %}{% endif %}>Единственный выбор</option>
                    <option value="checkbox"{% if question.type is defined %}{% if question.type == 'checkbox' %} selected{% endif %}{% endif %}>Множественный выбор</option>
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="select">
                    <label>Родительский вопрос</label>
                    <select name="parent_id" style="width: 100%">
                        <option value="0">Нет</option>
                        {% for parentQuestion in form.questions %}
                        {% if parentQuestion.id != question.id %}
                        <option value="{{ parentQuestion.id}}"{% if question.parent_id is defined %}{% if question.parent_id == parentQuestion.id %} selected{% endif %}{% endif %}>{{ parentQuestion.text }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><button type="submit" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить</button></div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

