<div class="container">
    <form name="question" action="/admin/question/form/{{ form_id }}/save" method="post">
        {% if question.id is defined %}<input type="hidden" name="id" value="{{ question.id }}" />{% endif %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center"><h2>Добавить вопрос<h2></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><textarea name="text" placeholder="Введите вопрос" required="required">{% if question.text is defined %}{{ question.text }}{% endif %}</textarea></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <select name="type" required="required">
                    <option value="radio"{% if question.type is defined %}{% if question.type == 'radio' %} selected{% endif %}{% endif %}>Единственный выбор</option>
                    <option value="checkbox"{% if question.type is defined %}{% if question.type == 'checkbox' %} selected{% endif %}{% endif %}>Множественный выбор</option>
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="checkbox"><label><input type="checkbox" name="required" value="1"{% if question.required is defined %}{% if question.required is not null %} checked{% endif %}{% endif %} /> Необходимый</label></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><button type="submit" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить</button></div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

