<div class="container">
    <form name="form" action="/admin/answer/question/{{ question.id }}/save" method="post">
        <input type="hidden" name="question_id" value="{{ question.id }}"/>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center"><h2>Добавить ответы к вопросу</h2>
                <p>{{ question.text }}</p></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <textarea name="text" placeholder="Введите ответы через ;"
                          required="required">{% if question.answer is defined %}{% for answer in question.answers %}{{ answer.text }}; {% endfor %}{% endif %}</textarea>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-block btn-lg btn-primary"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Сохранить
                </button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>
