<div class="container">
    <form name="medicalorganization" action="/admin/medicalorganization/add" method="post">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center"><h2>Добавить МО<h2></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><input type="input" name="name" /></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><button type="submit" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить</button></div>
            <div class="col-md-2"></div>
        </div>

    </form>

