<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/admin/medicalorganization/form" class="btn btn-lg btn-block btn-primary"><span class="glyphicon glyphicon-plus"></span> Добавить МО</a>
        </div>
        <div class="col-md-3">
            <a href="/admin/form/form" class="btn btn-lg btn-block btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить анкету</a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="/admin/medicalorganization/list" class="btn btn-lg btn-block btn-primary"><span class="glyphicon glyphicon-list"></span> Список МО</a>
        </div>
        <div class="col-md-3">
            <a href="/admin/form/list" class="btn btn-lg btn-block btn-default"><span class="glyphicon glyphicon-list"></span> Список анкет</a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>