body {
    font-size: 18pt;
}

ul#pagination {
    margin: 0;
    padding: 4px;
}

ul#pagination li.pagination_item {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

div, input, button, textarea {
	width: 100%;
	padding: 10px;
}

