body {
    font-size: 18pt;
}

ul#pagination {
    margin: 0;
    padding: 4px;
}

ul#pagination li.pagination_item {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
input[type="input"],textarea {
    width: 100%;
	padding: 10px;
}

.question_text{
        font-weight: bold;
}

#footer_navbar{
    background-color: white;
}

button {
    padding-top: 10px;
}

.medicalOrganization {
    padding-top: 30px;
}

select#question{
    width: 100%;
}
