<h1 class="text-center">{{form.name}}</h1>
<h2 class="text-center">{{form.description}}</h2>
<div class="container">
    {% for question in form.questions %}
    <div id="question_{question.id}" class="row">
        <div class="question_text cold-md-4">{{ question.text }}</div>
        <div class="answers col-md-8">
            {% for answer in question.answers %}
            {% if question.type == "radio" %}{{ include('Anketa/radio.element.html') }}{% endif %}
            {% if question.type == "checkbox" %}{{ include('Anketa/checkbox.element.html') }}{% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
