<div class="row">
    <div id="medicalOrganizations">
        <div class="col-md-6">
            <label>Выберите медицинскую организацию</label>
        </div>
        <div class="col-md-6">
            <select size="1" id="medicalOrganization" title="Выберите район" name="medicalOrganization" required>
                <option>Выберите медицинскую организацию</option>
                {% for medicalOrganization in form.medicalOrganization %}
                    <option value="medicalOrganization_{{ medicalOrganization.id }}"
                            class="region_{{ medicalOrganization.region_id }}">{{ medicalOrganization.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
