<div class="row">
  <div id="months">
    <div class="col-md-6">
      <label>Выберите месяц посещения</label>
    </div>
    <div class="col-md-6">
      <select name="month" id="month" title="Выберите месяц">
        	<option value="Январь">Январь</option>
        	<option value="Февраль">Февраль</option>
        	<option value="Март">Март</option>
        	<option value="Апрель">Апрель</option>
        	<option value="Май">Май</option>
        	<option value="Июнь">Июнь</option>
        	<option value="Июль">Июль</option>
        	<option value="Август">Август</option>
        	<option value="Сентябрь">Сентябрь</option>
        	<option value="Октябрь">Октябрь</option>
        	<option value="Ноябрь">Ноябрь</option>
        	<option value="Декабрь">Декабрь</option>
        </select>
    </div>
  </div>
</div>
